body {
  background-image: url("images/bg.jpg");
  background-size: 100%;
  background-color: #eaf1f9;
}

#profilepic, #acrophobia, #bookaholic, #name, #zodiac, #job, #webdev, #photomanip, #arachnophobia, #nationality, #learning {
  height: 200px;
  width: 200px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
    /* Safari */
  transform: rotate(45deg);
}

#profilepic {
  height: 300px;
  width: 300px;
  background-image: url("images/newpp.jpg");
  background-size: contain;
  margin-top: 360px;
  margin-left: 150px;
}

#name {
  background-image: url("images/name.png");
  background-size: contain;
  margin-top: -394px;
  margin-left: 415px;
}

#zodiac {
  background-image: url("images/zodiac.png");
  background-size: contain;
  margin-top: 87px;
  margin-left: 415px;
}

#webdev {
  background-image: url("images/photo-1454165205744.jpg");
  background-size: contain;
  margin-top: -343px;
  margin-left: 558px;
}

#job {
  background-image: url("images/job.png");
  background-size: contain;
  margin-top: -344px;
  margin-left: 701px;
}

#photomanip {
  background-image: url("images/thestorm.jpg");
  background-size: contain;
  margin-top: -343px;
  margin-left: 558px;
}

#bookaholic {
  background-image: url("images/photo-1470984968366.jpg");
  background-size: contain;
  margin-top: -200px;
  margin-left: 845px;
}

#acrophobia {
  height: 100px;
  width: 100px;
  background-image: url("images/photo-1472494805680.jpg");
  background-size: contain;
  margin-top: -293px;
  margin-left: 822px;
}

#arachnophobia {
  height: 100px;
  width: 100px;
  background-image: url("images/photo-1440952306150.jpg");
  background-size: contain;
  margin-top: 258px;
  margin-left: 895px;
}

#nationality {
  background-image: url("images/nationality.png");
  background-size: contain;
  margin-top: -508px;
  margin-left: 989px;
}

#learning {
  background-image: url("images/photo-1471107191679.jpg");
  background-size: contain;
  margin-top: 86px;
  margin-left: 989px;
}

.scaled {
  transform: scale(0.85);
}
